h1{
    text-align: center;
  }
  .ourName{
    text-align: center;
  }
  .bar{
    background-color: #d9d9d9;
    padding: 10pt;
    display: flex;
    justify-content: center;
  }
  .btn{
    background-color: #daedff;
    border: none;
    padding: 5pt;
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
  }
  .btn:hover{
    cursor: pointer;
    background-color: #bbdeff;
  }
  .body{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 80vh
  }
  .search{
    background-color: #fbfcfd;
    padding: 16px 32px;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    transition: all 240ms ease-out;
    width: 40%;
  }
  .searchBtn{
    background-color: #ffdcfe;
    padding: 0.65rem 2rem;
  }
  .searchBtn:hover{
    cursor: pointer;
    background-color: #f683f2;
  }